Repository halllo/IdentityServerExperiments: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines_AngularClient.yml, azure-pipelines_IdentityServer.yml

azure-pipelines_AngularClient.yml:
  pool:
    vmImage: Ubuntu-16.04
  steps:
  - task: Npm@1
    displayName: Restore
    inputs:
      command: install
      workingDir: AngularClient
  - task: Npm@1
    displayName: Build
    inputs:
      command: custom
      workingDir: AngularClient
      customCommand: run build
  - task: PublishBuildArtifacts@1
  ...

azure-pipelines_IdentityServer.yml:
  pool:
    vmImage: Ubuntu-16.04
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore & Build
    inputs:
      command: build
      projects: IdentityServer/IdentityServer.csproj
  - task: DotNetCoreCLI@2
    displayName: Publish
    inputs:
      command: publish
      publishWebProjects: false
  ...

hosted on azure
  AngularClient/package.json
  README.md
Due: azure-pipelines_AngularClient.yml

settings for production
  AngularClient/src/environments/environment.prod.ts
  AngularClient/src/environments/environment.ts
  Api/appsettings.json
  IdentityServer/Config.cs
  IdentityServer/Properties/launchSettings.json
Due: azure-pipelines_AngularClient.yml, azure-pipelines_IdentityServer.yml

serving local angular client over ssl
  AngularClient/package-lock.json
  AngularClient/package.json
  IdentityServer/Config.cs
Due: azure-pipelines_AngularClient.yml, azure-pipelines_IdentityServer.yml

build on windows
  azure-pipelines_API.yml
  azure-pipelines_IdentityServer.yml
Due: none

Microsoft.AspNetCore.App, no version specified
  Api/Api.csproj
  IdentityServer/IdentityServer.csproj
Due: azure-pipelines_IdentityServer.yml

build with .net core 2.2.203
  azure-pipelines_API.yml
  azure-pipelines_IdentityServer.yml
Due: none

enable home controller
  IdentityServer/Quickstart/Home/HomeController.cs
  IdentityServer/Startup.cs
Due: azure-pipelines_IdentityServer.yml

experimenting with what could cause the startup problem
  IdentityServer/Startup.cs
Due: azure-pipelines_IdentityServer.yml

don't persist developer signing credentials
  IdentityServer/IdentityServer.csproj
  IdentityServer/KeyVault.cs
  IdentityServer/Startup.cs
  IdentityServer/tempkey.rsa
Due: azure-pipelines_IdentityServer.yml

Enable Azure Log stream
  IdentityServer/IdentityServer.csproj
  IdentityServer/Startup.cs
Due: azure-pipelines_IdentityServer.yml

signed out indication (blur)
  AngularClient/src/app/container/full-layout/full-layout.component.css
  AngularClient/src/app/container/full-layout/full-layout.component.html
  AngularClient/src/app/container/full-layout/full-layout.component.ts
Due: azure-pipelines_AngularClient.yml

sessionMonitoring only when on authority origin
  AngularClient/src/app/services/app-config.service.ts
  AngularClient/src/app/services/auth.service.ts
  AngularClient/src/environments/environment.ts
  IdentityServer/Config.cs
Due: azure-pipelines_AngularClient.yml, azure-pipelines_IdentityServer.yml

session expired message when silent refresh fails
  AngularClient/src/app/services/auth.service.ts
Due: azure-pipelines_AngularClient.yml

better url prefixing
  AngularClient/src/app/services/app-config.service.ts
  AngularClient/src/app/services/auth.service.ts
Due: azure-pipelines_AngularClient.yml

key vault integration
  .gitignore
  IdentityServer/IdentityConfig.cs
  IdentityServer/IdentityServer.csproj
  IdentityServer/KeyVault.cs
  IdentityServer/PathHelper.cs
  IdentityServer/Startup.cs
  IdentityServer/appsettings.json
Due: azure-pipelines_IdentityServer.yml

key vault integration works on Azure Web App
  IdentityServer/KeyVault.cs
  IdentityServer/Quickstart/Home/HomeController.cs
  IdentityServer/Views/Home/Index.cshtml
Due: azure-pipelines_IdentityServer.yml

strict CORS (only localhost)
  IdentityServer/IdentityConfig.cs
  IdentityServer/Startup.cs
Due: azure-pipelines_IdentityServer.yml

strict CORS (also https://manuels-angularclient.azurewebsites.net)
  IdentityServer/IdentityConfig.cs
Due: azure-pipelines_IdentityServer.yml

finally functional CORS
  AngularClient/src/app/views/welcome/welcome.component.ts
  IdentityServer/CorsPolicyProvider.cs
  IdentityServer/DiHelper.cs
  IdentityServer/Startup.cs
Due: azure-pipelines_AngularClient.yml, azure-pipelines_IdentityServer.yml

first fido2 attempts...
  IdentityServer/IdentityServer.csproj
  IdentityServer/Quickstart/Account/FidoController.cs
  IdentityServer/Views/Account/Login.cshtml
  IdentityServer/appsettings.json
  IdentityServer/wwwroot/js/webauthn.js
Due: azure-pipelines_IdentityServer.yml

FIDO2 ceremonies work, but don't log user in yet.
  IdentityServer/IdentityConfig.cs
  IdentityServer/IdentityServer.csproj
  IdentityServer/Quickstart/Account/FidoController.cs
  IdentityServer/Quickstart/TestUsers.cs
  IdentityServer/Views/Account/Login.cshtml
  IdentityServer/Views/Grants/Index.cshtml
  IdentityServer/wwwroot/js/webauthn.js
Due: azure-pipelines_IdentityServer.yml

Fido2 register & login ceremonies work (but dont actually login user yet)
  IdentityServer/Quickstart/Account/FidoController.cs
  IdentityServer/Quickstart/Grants/GrantsController.cs
  IdentityServer/Quickstart/Grants/GrantsViewModel.cs
  IdentityServer/Views/Account/Login.cshtml
  IdentityServer/Views/Grants/Index.cshtml
  IdentityServer/wwwroot/js/webauthn-login.js
  IdentityServer/wwwroot/js/webauthn-register.js
Due: azure-pipelines_IdentityServer.yml

FIDO2 users are actually logged in
  IdentityServer/Quickstart/Account/AccountController.cs
  IdentityServer/Quickstart/Account/FidoController.cs
  IdentityServer/Views/Account/Login.cshtml
  IdentityServer/appsettings.json
  IdentityServer/wwwroot/js/webauthn-login.js
Due: azure-pipelines_IdentityServer.yml

using Fido2 lib from official nuget
  IdentityServer/IdentityServer.csproj
  IdentityServer/Quickstart/Account/FidoController.cs
  IdentityServer/Quickstart/Grants/GrantsController.cs
Due: azure-pipelines_IdentityServer.yml

upgrade to dotnetcore3.0 and all dependencies updated
  Api/Api.csproj
  Api/Controllers/BooksController.cs
  Api/Program.cs
  Api/Startup.cs
  ConsoleClient/ConsoleClient.csproj
  ConsoleClient/Program.cs
  IdentityServer/CorsPolicyProvider.cs
  IdentityServer/IdentityServer.csproj
  IdentityServer/Program.cs
  IdentityServer/Quickstart/Account/FidoController.cs
  IdentityServer/Quickstart/Grants/GrantsController.cs
  IdentityServer/Startup.cs
Due: azure-pipelines_IdentityServer.yml

added keyvault to configuration again
  IdentityServer/KeyVault.cs
  IdentityServer/Program.cs
Due: azure-pipelines_IdentityServer.yml

Angular Client updated
  AngularClient/browserslist
  AngularClient/package-lock.json
  AngularClient/package.json
  AngularClient/src/app/app.module.ts
  AngularClient/src/app/app.routing.ts
  AngularClient/src/app/services/api.service.ts
  AngularClient/src/app/services/auth.service.ts
  AngularClient/src/app/views/403/403.component.html
  AngularClient/src/app/views/403/403.component.ts
  AngularClient/src/assets/pages/oidc-client.min.js
  AngularClient/src/tsconfig.app.json
  AngularClient/src/tsconfig.spec.json
  AngularClient/tsconfig.json
  AngularClient/tslint.json
  Api/JwtBearerHandlerWithRetryWhenConfigurationCannotBeOptained.cs
  Api/Startup.cs
  Api/appsettings.Development.json
  IdentityServer/IdentityConfig.cs
  IdentityServer/Program.cs
  IdentityServer/Startup.cs
Due: azure-pipelines_AngularClient.yml, azure-pipelines_IdentityServer.yml

less logging code
  IdentityServer/Program.cs
  IdentityServer/appsettings.json
Due: azure-pipelines_IdentityServer.yml

build pipelines dont require outdated version of dotnet
  IdentityServer/Program.cs
  azure-pipelines_API.yml
  azure-pipelines_IdentityServer.yml
Due: azure-pipelines_IdentityServer.yml

FIDO2 works again thanks to my NewtonsoftJsonAdapter.
  IdentityServer/IdentityServer.csproj
  IdentityServer/NewtonsoftJsonAdapter.cs
  IdentityServer/Quickstart/Account/FidoController.cs
Due: azure-pipelines_IdentityServer.yml

authenticate with microsoft account
  IdentityServer/IdentityServer.csproj
  IdentityServer/Startup.cs
Due: azure-pipelines_IdentityServer.yml

Better multi tenant handling (https://michael-mckenna.com/multi-tenancy-compatibility-dot-net-core-three)
  IdentityServer/IdentityServer.csproj
  IdentityServer/MultiTenancy/HostResolutionStrategy.cs
  IdentityServer/MultiTenancy/HttpContextExtensions.cs
  IdentityServer/MultiTenancy/IApplicationBuilderExtensions.cs
  IdentityServer/MultiTenancy/ITenantAccessor.cs
  IdentityServer/MultiTenancy/ITenantResolutionStrategy.cs
  IdentityServer/MultiTenancy/ITenantStore.cs
  IdentityServer/MultiTenancy/InMemoryTenantStore.cs
  IdentityServer/MultiTenancy/MultiTenantConstants.cs
  IdentityServer/MultiTenancy/MultiTenantContainer.cs
  IdentityServer/MultiTenancy/MultiTenantServiceProviderFactory.cs
  IdentityServer/MultiTenancy/MultitenantContainerMiddleware.cs
  IdentityServer/MultiTenancy/OperationIdService.cs
  IdentityServer/MultiTenancy/ServiceCollectionExtensions.cs
  IdentityServer/MultiTenancy/Tenant.cs
  IdentityServer/MultiTenancy/TenantAccessService.cs
  IdentityServer/MultiTenancy/TenantAccessor.cs
  IdentityServer/MultiTenancy/TenantBuilder.cs
  IdentityServer/MultiTenancy/TenantMiddleware.cs
  IdentityServer/Program.cs
  IdentityServer/Quickstart/Home/HomeController.cs
  IdentityServer/Startup.cs
  IdentityServer/Views/Home/Index.cshtml
Due: azure-pipelines_IdentityServer.yml

Multi tenant options (https://michael-mckenna.com/multi-tenant-asp-dot-net-core-application-tenant-specific-configuration-options)
  IdentityServer/MultiTenancy/ContainerBuilderExtensions.cs
  IdentityServer/MultiTenancy/IApplicationBuilderExtensions.cs
  IdentityServer/MultiTenancy/MultiTenantCookiePolicyMiddleware.cs
  IdentityServer/MultiTenancy/MultitenantContainerMiddleware.cs
  IdentityServer/MultiTenancy/TenantBuilder.cs
  IdentityServer/MultiTenancy/TenantOptions.cs
  IdentityServer/MultiTenancy/TenantOptionsCache.cs
  IdentityServer/MultiTenancy/TenantOptionsCacheDictionary.cs
  IdentityServer/MultiTenancy/TenantOptionsFactory.cs
  IdentityServer/Startup.cs
Due: azure-pipelines_IdentityServer.yml

rename
  IdentityServer/MultiTenancy/MultiTenantContainerMiddleware.cs
Due: azure-pipelines_IdentityServer.yml

CookiePolicyMiddleware object per request to prevent cross tenant options caching
  IdentityServer/MultiTenancy/MultiTenantCookiePolicyMiddleware.cs
  IdentityServer/MultiTenancy/TenantMiddleware.cs
Due: azure-pipelines_IdentityServer.yml

MultiTenancy stuff moved into its own assembly
  IdentityServer/IdentityServer.csproj
  IdentityServer/MultiTenancy/ITenantResolutionStrategy.cs
  IdentityServer/MultiTenancy/OperationIdService.cs
  IdentityServer/Program.cs
  IdentityServer/Quickstart/Home/HomeController.cs
  IdentityServer/Startup.cs
  IdentityServer/Views/Home/Index.cshtml
  IdentityServerExperiments.sln
  MultiTenancy/ContainerBuilderExtensions.cs
  MultiTenancy/HostResolutionStrategy.cs
  MultiTenancy/HttpContextExtensions.cs
  MultiTenancy/IApplicationBuilderExtensions.cs
  MultiTenancy/ITenantAccessor.cs
  MultiTenancy/ITenantResolutionStrategy.cs
  MultiTenancy/ITenantStore.cs
  MultiTenancy/InMemoryTenantStore.cs
  MultiTenancy/MultiTenancy.csproj
  MultiTenancy/MultiTenantConstants.cs
  MultiTenancy/MultiTenantContainer.cs
  MultiTenancy/MultiTenantContainerMiddleware.cs
  MultiTenancy/MultiTenantCookiePolicyMiddleware.cs
  MultiTenancy/MultiTenantServiceProviderFactory.cs
  MultiTenancy/Properties/launchSettings.json
  MultiTenancy/ServiceCollectionExtensions.cs
  MultiTenancy/TemporaryTenantGuidService.cs
  MultiTenancy/Tenant.cs
  MultiTenancy/TenantAccessService.cs
  MultiTenancy/TenantAccessor.cs
  MultiTenancy/TenantBuilder.cs
  MultiTenancy/TenantMiddleware.cs
  MultiTenancy/TenantOptions.cs
  MultiTenancy/TenantOptionsCache.cs
  MultiTenancy/TenantOptionsCacheDictionary.cs
  MultiTenancy/TenantOptionsFactory.cs
Due: azure-pipelines_IdentityServer.yml

tenant resolution invoked only once per request (tenant can be overridden with cookie on dev)
  IdentityServer/Quickstart/Home/HomeController.cs
  IdentityServer/Startup.cs
  MultiTenancy/HostResolutionStrategy.cs
  MultiTenancy/MultiTenantContainer.cs
  MultiTenancy/TenantAccessor.cs
Due: azure-pipelines_IdentityServer.yml

for some reason, when AddMicrosoftAccount is registered in tenant container, the callback endpoint is not found (IEndpointFeature is not added)
  IdentityServer/Startup.cs
  MultiTenancy/ITenantResolutionStrategy.cs
  MultiTenancy/MultiTenantContainer.cs
  MultiTenancy/MultiTenantCookiePolicyMiddleware.cs
  MultiTenancy/MultiTenantServiceProviderFactory.cs
Due: azure-pipelines_IdentityServer.yml

MultiTenant external oauth handler
  IdentityServer/Quickstart/Account/ExternalController.cs
  IdentityServer/Startup.cs
  MultiTenancy/OAuthExtensions.cs
Due: azure-pipelines_IdentityServer.yml

MultiTenant external oauth handler finally works with scoped authentication middleware :)
  IdentityServer/Startup.cs
  MultiTenancy/OAuthExtensions.cs
  MultiTenancy/ScopedAuthenticationMiddleware.cs
  MultiTenancy/ScopedCookiePolicyMiddleware.cs
Due: azure-pipelines_IdentityServer.yml

Path conditions:
  azure-pipelines_AngularClient.yml: any of: AngularClient
  azure-pipelines_IdentityServer.yml: any of: IdentityServer
